<nav class="navbar navbar-expand-lg navbar-light ">

  <a class="navbar-brand" href="index.html"><img src="/images/icon.png" width="30" height="50" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto >
  
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000">בית<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="https://www.carine.co.il/%D7%94%D7%9E%D7%A8%D7%AA-%D7%9E%D7%99%D7%93%D7%95%D7%AA-%D7%95%D7%9E%D7%A9%D7%A7%D7%9C%D7%95%D7%AA/">המרת
          מידות </a>
      </li>
      <li class="nav-item">
        <a class="nav-link inline"
          href="https://www.shufersal.co.il/online/he/promo/A?utm_source=google&utm_medium=search&utm_campaign=online_july&utm_content=brand_hebrew&gclid=Cj0KCQjw28T8BRDbARIsAEOMBcx62aJSFgBQDBx_mp1DEzpDkCf07jrn6fs_XVLEHLvjV6M3waToUegaAq_-EALw_wcB">חסר
          לי מצרכים</a>
      </li>
    </ul>
 
  </div>
</nav>